html, body 
{
  margin: 0;
  padding: 0;
  background-color: #041f2b;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page 
{
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Nav menu*/
header
{
  background-color: black;
  color: white;
  font-size: 25px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

nav a 
{
  color: white;
  text-decoration: none;
}

nav ul
{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

nav ul a 
{
  padding: 0.4rem 0.7rem;
}

nav ul a:hover
{
  background-color: rgb(31, 117, 187);
  border-radius: 1.5rem;
}
nav ul a.active
{
  background-color: rgb(31, 117, 187);
  border-radius: 1.5rem;
}



/* contact area */
.contact 
{
  background: #041f2b;
  display: flex;
  align-items: center;
  padding: 4rem 10rem;
  color: white;
}

.contact article 
{
  width: 80%;
  text-align: left;
}

.contact .subtitle-above 
{
  color: rgb(19, 148, 196);
  font-size: 20px;
  margin-bottom: 1rem;
}

.contact h1 
{
  font-size: 50px;
  color: white;
  margin: 0 0 1rem 0;
}

.contact p 
{
  font-size: 25px;
  line-height: 1.6;
  max-width: 45ch;
}

.contact figure 
{
  margin: 0;
  width: 70%;
  text-align: center;
  padding-left: 5rem;
}

.contact img 
{
  width: 100%;
  max-width: 599px;
  max-height: 346px;
  border-radius: 40px;
  border: 5px solid rgb(19, 148, 196);
}

.contact figcaption 
{
  font-size: 15px;
  margin-top: 10px;
}


/* form section */
.contact-form 
{
  background-image: url("img/formAreaPic.png");
  background-position: center;
  border-radius: 2rem;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
}

.contact-form h2 
{
  color: white;
  font-size: 40px;
  margin: 0;
}

fieldset 
{
  border: none;
}

label 
{
  display: block;
  margin-top: 1rem;
  color: white;
}

input
{
  color: white;
  width: 100%;
  padding: 0.7rem;
  border-radius: 30px;
  margin-top: 0.5rem;
  border: none;
  background-color: rgb(49, 51, 51);
}
select
{
  color: white;
  width: 100%;
  padding: 0.7rem;
  border-radius: 30px;
  margin-top: 0.5rem;
  border: none;
  background-color: rgb(49, 51, 51);
}
textarea
{
color: white;
  width: 100%;
  padding: 0.7rem;
  border-radius: 30px;
  margin-top: 0.5rem;
  border: none;
  background-color: rgb(49, 51, 51);
}

button 
{
  width: 100%;
  padding: 1rem;
  background-color: rgb(19, 148, 196);
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 30px;
  margin-top: 1.5rem;
}

button:hover 
{
  background-color: rgb(31, 117, 187);
}



/* Contact info area*/
.contact-info 
{
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgb(25, 25, 25)
}


.contact-info article 
{
  color: white;
  padding: 1rem;
  border-radius: 27px;
  width: 20rem;
  border: 3px solid rgb(109, 109, 109)
}


.contact-info h3 
{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 25px
}

.contact-info p 
{
  font-size: 20px;
  margin: 0;
}


/*run here area*/
h5
{
  color: white;
  text-align: center;
  font-size: 35px;
  margin-bottom: 1.2rem;
}

.try
{
  text-align: center;
  margin-bottom: 3rem;
}

.trybtn
{
  display: inline-block;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 0.7rem 2rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.trybtn:hover
{
  color: rgb(31, 117, 187);
  border-color: rgb(31, 117, 187)
}

/*footer*/
.footer
{
  display: flex;
  color: rgb(160, 160, 160);
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(160, 160, 160);
  padding: 1.5rem 3rem;
  font-size: 25px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}


.footer p
{
  margin: 0;
}

.footer .right
{
  text-align: right;
}